.contactContainer{
    @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

    &__title{
        display: grid;
        justify-content: center;
        margin-top: 5rem;
        font-size: xxx-large;
        color: $blue;
        font-weight: 600;
        text-shadow: 2px 4px 2px black;
    }

    &__title4{
        text-decoration: underline;
    }

    &__col1{
        display: grid;
        justify-content: end;
        margin-top: 4rem;
        color: white;
        font-weight: 400;
        font-size: 0.875em;
        border-radius: 5px;

        &--hover:hover{
            border: 1px solid $blue;
            border-radius: 6px;
        }
    }

    &__col2{
        display: grid;
        justify-content: center;
        margin-top: 4rem;
        color: white;
        font-weight: 500;

        &--hover:hover{
            border: 1px solid $blue;
            border-radius: 6px;
        }
    }

    &__col3{
        display: grid;
        justify-content: center;
        margin-top: 4rem;
        font-family: 'Lato';
        font-size: 0.875em;
        color: #aca49c;
        
    }
    &__input1{
        width: 100%;
        height: 4rem;
        padding: 1rem;
        border: solid 1px #b3aca7;
        background-color:#e2dedb;

        &--hover:hover{
            background: #b3aca7;
            color: black;
    }
    }
    &__input2{
        width: 100%;
        height: 4rem;
        padding: 1rem;
        border: solid 1px #b3aca7;
        background-color:#e2dedb;

        &--hover:hover{
            background: #b3aca7;
            color: black;
        }
    }
    &__input3{
        width:100%;
        height: 8rem;
        padding: 1rem;
        border: solid 1px #b3aca7;
        background-color:#e2dedb;
        resize: none;

        &--hover:hover{
        background: #b3aca7;
        color: black;
        }
    }
    &__input4{
        width: 100%;
        height: 4rem;
        padding: 1rem;
        margin: -6px 0px 0px 0px;
        border: solid 1px #b3aca7;
        background-color:#e2dedb;
        
        

        &--hover:hover{
            background: #b3aca7;
            color: #e2dedb;
        }
    }
}
