.proyectMain{
    margin-top: 6rem;
    justify-content: center;

    &__title{
        display: flex;
        justify-content: center;
        color: $blue;
        font-size: 4rem;
    }
    &__par{
        display: flex;
        justify-content: center;
        color: white;
        margin-bottom: 4rem;
    }
    &__subtitle{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: $blue;
    }
    &__subpar{
        display: flex;
        color: white;
        justify-content: center;
        margin-bottom: 0px;
    }
    &__h3title{
        display: grid;
        font-size: x-large;
        justify-content: center;
        color: white;
    }

    &__blockpar{
        background-color: #0f0f0f;
        border-radius: 1rem;
        border: 3px solid white;
        transition: background-color 1s;

        &--transition:hover{
            background-color: $blue;
            
        }
    }

    &__link{
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    &__icon1{
        display: flex;
        color: $white;
        font-size: xx-large;
        justify-content: center;
        text-align: center;
    }

    &__proyect1{
        display: grid;
        margin-top: 4rem;
        
    }
    &__proyect2{
        display: grid;
        margin-top: 4rem;
    }
    &__proyect3{
        display: grid;
        margin-top: 4rem;
        box-shadow: white 3px 3px solid;
    }
    &__icon{
        display: inline-block;
        position: relative;
        color: white;
        font-size: xx-large;
        margin-top: 1rem;
        margin-bottom: 0.5rem;

        &--hover:hover{
            color: black;
        }
    }
    &__line{
        margin-top: 1rem;
        border: 1px solid white;
    }
}