.proyectMain{
    margin-top: 6rem;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;

    &__title{
        display: flex;
        justify-content: center;
        color: $blue;
        font-size: 4rem;
        text-shadow: 3px 2px 4px black;
    }
    &__par{
        display: flex;
        justify-content: center;
        color: white;
        margin-bottom: 4rem;
    }
    &__subtitle{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: $blue;
        text-shadow: 3px 2px 4px black;
    }
    &__subpar{
        display: flex;
        color: white;
        justify-content: center;
        margin-bottom: 0px;
    }
    &__h3title{
        display: grid;
        font-size: x-large;
        justify-content: center;
        color: white;
    }

    &__blockpar{
        background-color: #0f0f0f;
        border-radius: 1rem;
        border: 3px solid white;
        transition: background-color 1s;
        transform: all;

        &--transition:hover{
            background-color: $blue;
            transform: scale(1.05);
            box-shadow: 5px 6px 5px grey;
            border: 3px solid black;
        }
    }

    &__link{
        text-decoration: none;
    }

    &__icon1{
        display: flex;
        color: $white;
        font-size: xx-large;
        justify-content: center;
        text-align: center;
    }

    &__proyect1{
        display: grid;
        margin-top: 4rem;
        background-color: transparent black;
        
    }
    &__proyect2{
        display: grid;
        margin-top: 4rem;
    }
    &__proyect3{
        display: grid;
        margin-top: 4rem;
        box-shadow: white 3px 3px solid;
    }
    &__icon{
        justify-self: center;
        color: white;
        font-size: xx-large;
        margin-top: 1rem;
        margin-bottom: 0.5rem;

        &--hover:hover{
            color: black;
        }
    }

    &__list{
        display: flex;
        justify-content: center;
        margin: 0px;
        
        li{
         list-style: none;
         margin-right: 2rem;
        }
    }
}