.footerM{
    display: grid;
    justify-items: center;
    &__menu{
        display: grid;
        margin-top: 2rem;
    }
    &__link{
        justify-self: center;
        margin-top: 0.5rem;
        text-decoration: none;
        color: white;
        &--hover:hover{
            color:  grey;
            text-shadow: 0px 0px 15px white;
        }
    }
    &__redes{
        color: white;
        font-size: 1.5rem;
        margin-top: 1rem;
    
    }
    &__iconLink{
        color: white;

        &--hover:hover{
            color: white;
        }
    }
    &__copy{
        color:grey;
        margin-bottom: 1rem;
    }
}