.hero{
    &__row{
        align-items: center;
        padding-top: 8rem;
    }
    &__title{
        font-size: 3.5rem
    }
    &__par{
        font-size: 1.5rem;
    }
    &__col1{
        color: $white;
    }
    &__span{
        color: $blue;
    }
    &__col2{
        display: flex;
        align-items: flex-start;
        height: 20rem;
        width: 25rem;
        border-radius: 50px 110px;
        background-color: white;
        .image{
           max-width: 100%;
           margin-top: 5rem;
           width: 376px;
           height: 161px;
        }
    }
}