.mainCard{
    margin-top: 10rem;
    display:flex;
    justify-content: space-around;
    
    &__card{
        height: 20rem;
        width: 15rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: -5px -5px 20px 5px $blue;
    }
}