.mainCard{
    display:flex;
    justify-content: center;
    margin-top: 7rem;
    .row{
        gap: 3rem;
    }
    &__card{
        margin-top: 3rem;
        height: 20rem;
        width: 15rem;
        background-color: white;
        border-radius: 1rem;
        border: 3px solid $blue;
        align-content: center;
    }
    &__icon{
        display: flex;
        font-size: 4rem;
        justify-content: center;
        color: $blue;
        margin-top: 1rem;
        
    }
    &__title{
        border-top: 1px solid $blue;
        text-align: center;
        margin-top: 2rem;
        
    }
    &__par{
        text-align: center;
    }
}