.errorContainer{
    margin-top: 10rem;
    display: grid;
    justify-content: center;
    
    &__title{
        display: grid;
        justify-content: center;
        color: $blue;
        font-size: 6rem;
        text-shadow: 3px 2px 5px black;
    }
    &__title2{
        display: flex;
        justify-content: center;
        color: $blue;
        font-size: 5rem;
        text-shadow: 3px 2px 5px black;
    }
    &__span{
        color: $white;
    }
    &__span2{
        display: grid;
        justify-content: center;
        color: white;
        font-size: 2rem;
    }

    &__link{
        display: grid;
        justify-content: center;
        margin-top: 3rem;
        color: white;
        font-size: xx-large;
        text-decoration: none;

        &--hover:hover{
            color: $blue;
            text-decoration: underline;
        }
    }
}