* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1a1b1f;
}

header {
  background-color: #1a1b1f;
}

.navbar {
  border-bottom: 1px solid white;
}

.navbar .nav-link {
  margin-right: 1rem;
}

.hero__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8rem;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title {
  font-size: 3.5rem;
}

.hero__par {
  font-size: 1.5rem;
}

.hero__col1 {
  color: #d9d9e3;
}

.hero__span {
  color: #26C1F6;
}

.hero__col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 20rem;
  width: 25rem;
  border-radius: 50px 110px;
  background-color: white;
}

.hero__col2 .image {
  max-width: 100%;
  margin-top: 5rem;
  width: 376px;
  height: 161px;
}

.mainCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainCard .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainCard__card {
  margin-top: 3rem;
  height: 20rem;
  width: 15rem;
  background-color: white;
  border-radius: 1rem;
  border: 3px solid #26C1F6;
}

.mainCard__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #26C1F6;
  margin-top: 1rem;
}

.mainCard__title {
  border-top: 1px solid #26C1F6;
  text-align: center;
  margin-top: 2rem;
}

.mainCard__par {
  text-align: center;
}

.proyectMain {
  margin-top: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proyectMain__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #26C1F6;
  font-size: 4rem;
}

.proyectMain__par {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-bottom: 4rem;
}

.proyectMain__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #26C1F6;
}

.proyectMain__subpar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0px;
}

.proyectMain__h3title {
  display: -ms-grid;
  display: grid;
  font-size: x-large;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.proyectMain__blockpar {
  background-color: #0f0f0f;
  border-radius: 1rem;
  border: 3px solid white;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.proyectMain__blockpar--transition:hover {
  background-color: #26C1F6;
}

.proyectMain__link {
  text-decoration: none;
}

.proyectMain__icon1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #d9d9e3;
  font-size: xx-large;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.proyectMain__proyect1 {
  display: -ms-grid;
  display: grid;
  margin-top: 4rem;
}

.proyectMain__proyect2 {
  display: -ms-grid;
  display: grid;
  margin-top: 4rem;
}

.proyectMain__proyect3 {
  display: -ms-grid;
  display: grid;
  margin-top: 4rem;
  -webkit-box-shadow: white 3px 3px solid;
          box-shadow: white 3px 3px solid;
}

.proyectMain__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: xx-large;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.proyectMain__line {
  margin-top: 1rem;
  border: 1px solid white;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6rem;
}

.aboutContainer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
  color: #26C1F6;
  font-size: 5rem;
  font-weight: 400;
}

.aboutContainer__col1 {
  color: white;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.aboutContainer__col1--hover:hover {
  background-color: #0f0f0f;
  border-radius: 0.5rem;
}

.aboutContainer__firstTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.aboutContainer__span {
  color: #26C1F6;
}

.aboutContainer__secondTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
}

.aboutContainer__par1 {
  margin-top: 4rem;
  font-weight: 500;
}

.aboutContainer__col2 {
  color: white;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.aboutContainer__col2--hover:hover {
  background-color: #0f0f0f;
  border-radius: 0.5rem;
}

.aboutContainer__thirdTitle {
  display: flexbox;
}

.aboutContainer__item {
  list-style: none;
  font-weight: 500;
}

.aboutContainer__thirdTitle2 {
  margin-top: 3rem;
}

.aboutContainer__col3 {
  display: flexbox;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutContainer__col3box {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.aboutContainer__col3box--hover:hover {
  background-color: #0f0f0f;
  border-radius: 0.5rem;
}

.aboutContainer__btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.5rem;
  border: 4px solid #26C1F6;
  width: 100%;
  height: 5rem;
  -webkit-transition: background-color 1.5s;
  transition: background-color 1.5s;
  -webkit-transition: border 1.5s;
  transition: border 1.5s;
  font-weight: 600;
}

.aboutContainer__btn:hover {
  background-color: #26C1F6;
  border: 4px solid white;
  color: white;
}

.aboutContainer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footerM {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.footerM__menu {
  display: -ms-grid;
  display: grid;
  margin-top: 2rem;
}

.footerM__link {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 0.5rem;
  text-decoration: none;
  color: white;
}

.footerM__link--hover:hover {
  color: grey;
  text-shadow: 0px 0px 15px white;
}

.footerM__redes {
  color: white;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.footerM__iconLink {
  color: white;
}

.footerM__iconLink--hover:hover {
  color: white;
}

.footerM__copy {
  color: grey;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=styles.css.map */